<div class="dark:bg-darkmode pt-20">
    <div class="estate-summary-bg md:bg-transparent bg-primary">
        <div class="bg-primary container lg:max-w-screen-xl md:max-w-screen-md mx-auto px-8 rounded-lg">
            <div class="grid grid-cols-1 md:grid-cols-3">
                <div class="flex lg:flex-row flex-col justify-center items-center md:border-r border-border py-10 px-4 md:px-4" data-aos="fade-right">
                    <p class="text-[60px] leading-[1.2] mr-4 text-white">99%</p>
                    <p class="text-2xl text-white">Happy Customer</p>
                </div>
                <div class="flex lg:flex-row flex-col justify-center items-center md:border-r border-border py-10 px-4 md:px-4" data-aos="fade-up">
                    <p class="text-[60px] leading-[1.2] mr-4 text-white">780K</p>
                    <p class="text-2xl text-white">Property Sales</p>
                </div>
                <div class="flex lg:flex-row flex-col justify-center items-center py-10 px-4 md:px-4" data-aos="fade-left">
                    <p class="text-[60px] leading-[1.2] mr-4 text-white">160+</p>
                    <p class="text-2xl text-white">Award Winning</p>
                </div>
            </div>
        </div>
    </div>
</div>
