{% load static %}
<div class="flex items-baseline flex-wrap justify-center my-[0.9375rem] mx-0">
    {% for link in breadcrumb_links %}
        {% if not forloop.last %}
            <a href="{{ link.href }}" class="no-underline flex items-center text-midnight_text dark:text-white dark:text-opacity-70 text-SkyMistBlue font-normal text-xl hover:underline after:relative after:content-[''] after:ml-2.5 after:mr-3 after:my-0 after:inline-block after:top-[0.0625rem] after:w-2 after:h-2 after:border-r-2 after:border-solid after:border-b-2 after:border-midnight_text dark:after:border-white after:-rotate-45">
                {{ link.text }}
            </a>
        {% else %}
            <span class="dark:text-white text-midnight_text text-xl mx-2.5">{{ link.text }}</span>
        {% endif %}
    {% endfor %}
</div>
